.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(223, 223, 252);
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

.sidebarWrapper {
  padding: 20px;
  color: #8c8989
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(31, 30, 30)
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(192, 192, 199);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}